.parallax {
  /* The image used */
  background-image: url("/images/Avatar-movie-poster-avatar-38807326-800-1185.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax2 {
  /* The image used */
  background-image: url("/images/4d59dc553d17c682f904bb93fa9c9706--alien-queen-navi.jpg");

  /* Set a specific height */
  min-height: 1000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
