@font-face {
  font-family: Voynichese;
  src: url(/fonts/voynich.ttf);
}
.Voynichese {
 font-family: Voynichese; 
}

@font-dace {
  font-family: pix-wing;
  src: url(/fonts/pixelated-wingdings.ttf);
}
.PixWix {
  font-family: pix-wing;
}

@font-face {
  font-family: Verdana;
  src: url(/fonts/Verdana.ttf);
}
.Verdana {
  font-family: Verdana;
}

@font-face {
  font-family: TimesNewRoman;
  src: url(/fonts/TimesTenLTStd-Roman.otf);
}
.TimesNewRoman {
  font-family: TimesNewRoman;
}

@font-face {
  font-family: Quantum;
  src: url(/fonts/Quantum-eZOXg.ttf);
}
.Quantum {
  font-family: Quantum;
}

@font-face {
  font-family: NoMu;
  src: url(/fonts/NotoMusic-Regular.ttf);
}
.NotoMusic {
  font-family: NoMu;
}

@font-face {
  font-family: MQ;
  src: url(/fonts/Musiqwik-zRl1.ttf);
}
.MusiQwik {
  font-family: MQ;
}

@font-face {
  font-family: MC;
  src: url(/fonts/MatrixCodeNfi-YPPj.otf);
}
.MatrixCode {
  font-family: MC;
}

@font-face {
  font-family: Las;
  src: url(/fonts/Lassus-7BRA.ttf);
}
.Lassus {
  font-family: Las;
}

@font-face {
  font-family: Fsan;
  src: url(/fonts/FreeSans.otf);
}
.FreeSans {
  font-family: Fsan;
}

@font-face {
  font-family: dim;
  src: url(/fonts/Dimurphic-Gl6Z.ttf);
}
.Dimurphic {
  font-family: dim;
}

@font-face {
  font-family: Ast;
  src: url(/fonts/Aster-FONTSMAGAZINE.COM.otf);
}
.Aster {
  font-family: Ast;
}
